.title{
    /* width: 100%; */
    height: 30px;
    background-color: #039BE5;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
}
.time{
    width: 100%;
    height: 30px;
    padding-left: 8px;
    line-height: 30px;
}
.context{
    background-color: #fff;
    border: 1px #fff solid;
    height: 101px;
}
.tail{
    width: 100%;
    height: 65px;
    background-color:pink;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.article-title{
    font-family: PingFangSC-Regular;
    font-size: 17px;
    background-color: #fff;
    color: #333333;
    margin: 2.5% 22% 1.3% 4.4%;
    letter-spacing: 0;
}
.hello {
    background-color: #fff;
    font-size: 12px;
    padding: 8px 0 8px 10.6%;
}